In [1]:
# int -> float, float -> int
num = 5
print(num)
type(num)

5

In [4]:
# float()
float(num)
type(float(num))

float

In [6]:
num2 = 5.0
int(num2)
num == num2

True

In [7]:
# int, float, boolean -> string
str(num)

'5'

In [8]:
str(num2)

'5.0'

In [9]:
bool_1 = True
print(str(bool_1))

True

In [11]:
# tuple, list
tuple_a = ('a', 'b', 'c') # immutable
list_a = list(tuple_a)
print(list_a)

['a', 'b', 'c']

In [12]:
list_a[0] = 'aaa'
print(list_a)

['aaa', 'b', 'c']

In [13]:
tuple_b = tuple(list_a)
print(tuple_b)

('aaa', 'b', 'c')

In [14]:
# set, list
set_1 = {'3','6','9'}
type(set_1)

set

In [15]:
list(set_1)

['6', '9', '3']

In [16]:
set(num) # set, tuple, list는 iterable 데이터 타입만 변환 가능

TypeError: 'int' object is not iterable

In [17]:
# 모든 데이터 타입 -> str()
str(set_1)

"{'6', '9', '3'}"

In [18]:
str(list_a)

"['aaa', 'b', 'c']"

In [19]:
# str -> int, float
word = 'one'
int(word) # one은 숫자가 아니기 때문에 숫자변환이 안됨

ValueError: invalid literal for int() with base 10: 'one'

In [20]:
word2 = '70'
int(word2)

70

In [21]:
float(word2)

70.0